!!! Strict
%html
  %head
    %title Couch Wiki-ish
    %link{:href => '/screen.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection'}
    %link{:href => '/print.css', :rel => 'stylesheet', :type => 'text/css', :media => 'print'}
    /[if IE]
      %link{:href => '/ie.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection'}
  %body
    #container
      #header
        %h1
          %a{:href => '/'} Couch Wiki-ish
        %a{:href => '/new'} Create an entry
        %form{:action => '/search', :method => :get}
          %input{:type => 'text', :name => 'q'}
          %input{:type => 'submit', :value => 'search'}
      #content
        -if @error
          #errors&= @error
        =yield
