%h2&= params[:name]

%h5 Related Topics
%ul
-@related_topics.each do |topic|
  %li
    %a{:href => multi_topic_path(params[:name], topic)} +
    %a{:href => "/topic/#{topic}"}&= topic

%h5 Content
=haml :entries, :layout => false
